$star-width: 20px; //星のサイズ

.star{
  &-rating{
    position: relative;
    font-size: $star-width; //星の大きさ。変数で指定
    &::before, &::after{
      content: "★★★★★";
      color: #bebebe;
      position: absolute;
      top: 0;
      left: 0;
    }
    &::after{
      color: #fca400;
      overflow: hidden;
    }
  }
}

//レーティングの間隔。1~5まで0.5刻み。
@for $i from 0 through 5 {
  .star-rating[data-rate="#{$i * 1}"]::after{
    width: $i * 1 * $star-width;
  }
}