{% load static %}
<div class="section contact" id="contact">
	<div class="contents">
		<h1 class="title">Contact</h1>
        <div class="contact-form">
            {% if contact_form.errors %}
                {% for error in contact_form.non_field_errors %}
                {{ error }}
                {% endfor %}
            {% endif %}
		    {% block content %}
            <form method="POST" name="form1" class="post-form">
                {% csrf_token %}
                <table cellspacing="10">
                    {{ contact_form.as_table }}
                </table>
                <div class="button">
                    <a href="javascript:form1.submit()" class="save btn btn-default">Send</a>
                </div>
            </form>
            {% endblock %}
        </div>
	</div>
</div>