{% load static %}
{% load custom_tag %}
<div class="section skills" id="skills">
    <div class="contents">
		<h1 class="title">{{ skills.title }}</h1>
		<h2 class="sub-title">{{ skills.sub_title }}</h2>
		<br/>
		<div class="main">
			{{ skills.main_text | linebreaks }}
			<br/>
		</div>
        <div class="flex-wrapper-skills">
            <div class="skill-set">
                <table class="skill-table">
                    <thead>
                        <tr>
                            <th colspan="2">DB</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for skill_set in skill_db %}
                            <tr>
                                <td class="skill-name">{{skill_set.name}}</td>
                                <td class="skill-rank star-rating" data-rate="{{ skill_set.rank }}"></td>
                            </tr> 
                        {% endfor %}
                        {% for i in for_range_skill_db %}
                            <tr>
                                <td class="skill-name"><br/></td>
                                <td class="skill-rank"><br/></td>
                            </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="skill-set">
                <table class="skill-table">
                    <thead>
                        <tr>
                            <th colspan="2">Language</th>
                        </tr>
                    </thead>
                    <tbody>    
                        {% for skill_set in skill_language %}
                            <tr>
                                <td class="skill-name">{{skill_set.name}}</td>
                                <td class="skill-rank star-rating" data-rate="{{ skill_set.rank }}"></td>
                            </tr> 
                        {% endfor %}
                        {% for i in for_range_skill_language %}
                            <tr>
                                <td class="skill-name"><br/></td>
                                <td class="skill-rank"><br/></td>
                            </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="skill-set">
                <table class="skill-table">
                    <thead>
                        <tr>
                            <th colspan="2">Framework</th>
                        </tr>
                    </thead>
                    <tbody>  
                        {% for skill_set in skill_framework %}
                            <tr>
                                <td class="skill-name">{{skill_set.name}}</td>
                                <td class="skill-rank star-rating" data-rate="{{ skill_set.rank }}"></td>
                            </tr> 
                        {% endfor %}
                        {% for i in for_range_skill_framework %}
                            <tr>
                                <td class="skill-name"><br/></td>
                                <td class="skill-rank"><br/></td>
                            </tr> 
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>